<h5>Edição do Medico</h5>
<p>Utilize os campos para alterar os dados do medico</p>

<form [formGroup]="formEdicao" (ngSubmit)=" onSubmit()">

  <div *ngIf="mensagem" class="mb-3 alert alert-primary">
    <strong>{{mensagem}}</strong>
  </div>

  <!--campo oculto-->
  <input type="hidden" formControlName="idMedico"/>

  <div class="row mb-3">
      <div class="col-md-6">
        <label for="">Nome do Medico</label>
        <input type="text" class="form-control" formControlName="nome">
        <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
            <span *ngIf="form.nome.errors.required">
                Informe o nome do Medico
            </span>
        </div>
     </div>

      <div class="col-md-3">
        <label for="">Crm</label>
        <input type="text" class="form-control" formControlName="crm">
        <div class="text-danger" *ngIf="form.crm.touched && form.crm.invalid">
            <span *ngIf="form.crm.errors.required">
                Informe o crm do medico
            </span>
        </div>
      </div>

    <div class="col-md-3">
        <label for="">Telefone</label>
        <input type="text" class="form-control" formControlName="telefone">
        <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid">
            <span *ngIf="form.telefone.errors.required">
                Informe o telefone do medico
            </span>
        </div>
     </div>


     <div class="col-md-3">
      <label for="">Tipo</label>
      <input type="text" class="form-control" formControlName="tipo">
      <div class="text-danger" *ngIf="form.tipo.touched && form.tipo.invalid">
          <span *ngIf="form.tipo.errors.required">
              Informe o tipo de medico
          </span>
      </div>
   </div>


</div>

<div class="row mb-3">
  <div class="col-md-12">
      <input type="submit" [disabled]="!formEdicao.valid" class="btn btn-success"
      value="Salvar Alterações" />
  </div>
</div>

</form>


